### symfony/framework ###
.git
*.md
.idea
.env.local
/var/
/vendor/
/migrations/
/translations/
/node_modules/

###> symfony/phpunit-bridge ###
phpunit.xml.dist

### docker ###
docker-compose.yml
docker-compose.yml.dist
Dockerfile

