### symfony/framework ###
./var
./vendor/
.idea
./.idea

/var/
/vendor/

./docker-compose.yml
docker-compose.yml
docker-compose.yml.local

###< symfony/framework-bundle ###
###> symfony/phpunit-bridge ###
/phpunit.xml.dist
/phpunit.xml
phpunit.xml.dist
###< symfony/phpunit-bridge ###
###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
