### symfony/framework ###
.idea
.env.local
/var/
/vendor/
/migrations/

###> symfony/phpunit-bridge ###
phpunit.xml.dist

### docker ###
docker-compose.yml

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
npm-debug.log
yarn-error.log
###< phpunit/phpunit ###
