version: '3.8'

services:
  test-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: test-app-container
    volumes:
      - .:/var/www/html/
    environment:
      PGID: 1000    # How to check GID : execute on host machine `id -g ${whoami}`
      PUID: 1000    # How to check GID : execute on host machine `id -g ${whoami}`
    ports:
      - "8080:80"
