{% extends 'base.html.twig' %}

{% block content %}
    <div class="card  box shadow  p-3 w-50 mx-auto m-3">
        <div class="card-body">
            <p class="text-primary">Welcome To Symfony Checklist App</p>
            <p class="text-default">This is a simple application that allows user to register and maintain a checklist
                that is assigned to them at signup. An admin user can list/edit other users, and check/uncheck items in
                their checklists.
            </p>
        </div>
    </div>
{% endblock %}